body {
	margin: 0%;
	background-color: #BDBDBD;
}

#menu {
	background-color: #2C7BCA;
	height: 12em; 
}

nav#selecaoMenu {
	display: block;
	text-transform: uppercase;
}

nav#selecaoMenu ul {
	list-style: none; /*Desaparecer marcadores em cima de links */	
	text-transform: uppercase; /*Tornou todas as letras em maiusculas */
	
	position: absolute;
	
	top: -20px;
	left: 300px;
	margin-top: 12em;
}

#divBusca {
	background-color: #E0E0E0;
	border: solid 2px #9E9E9E;
	width: 47%;
	height: 2em;
	border-radius: 0 10px 10px 0;
	margin-left: 25%;
	margin-top: 4%;
}

#txtBusca {
	font-family: Times New Roman;
	float: left;
	background-color: transparent;
	padding-left: 5em;
	font-size: 1em;
	border: none;
	height: 2em;
	width: 72%;
	text-align: center;
}

#btnBusca {
	font-family: Times New Roman;
	border: none;
	float: right;
	height: 2em;
	border-radius: 0 8px 8px 0;
	width: 15%;
	font-weight: bold;
	background: #2C7BCA;
	font-size: 1em;
}

nav#selecaoMenu button {
	display: inline-block;

	background-color: #434e66; 
	padding: 8px; 
	margin: 1px;
	transition: background-color 1s;

	border-radius: 10px 10px 10px 10px;
	color: white;
	font-size: 100%;
}

nav#selecaoMenu button:hover {
	background-color: #E0E0E0;
}

nav#selecaoMenu button:hover {
	color: black;
}

nav#selecaoMenu h1 {
	display: none;
}

#topo img {
	margin-left: 8%;
	height: 11em;
	width: 61%;
}

#topo a input {
	background-color: #434e66;
	color: white;
	margin-top: 2%;
	width: 8%;
	height: 2em;
	margin-right: 1%;
}

#topo h1 {
	width: 0%;
	margin: auto;
	margin-top: 2%;
	font-size: 300%;
	text-align: center;
}

#topo a input:hover {
	background-color: #fff;
	color: black;
}

#estrutura {
	margin-top: 2%;
}

#topo input {
	width: 7%;
	height: 2em;
	float: right;
	border-radius: 20px 20px 20px 20px;
}

#duvidas {
	background-color: white;
	border: solid 2px #9E9E9E;
	margin: 1% 1% 5% 25%;
	float: left;
	border-radius: 20px 20px 20px 20px;
	text-align: center;
	width: 47%;
	height: 22em;
}

#usuarios {
	background-color: white;
	border: solid 2px #9E9E9E;
	margin: 1% 5% 5% 1%;
	float: right;
	text-align: center;
	border-radius: 20px 20px 20px 20px;
	width: 20%;
	height: 22em;
}

input {
	width: 7%;
	height: 5px;
	border-radius: 20px 20px 20px 20px;
	font-size: 90%;
}